<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 화면</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
       if (localStorage.getItem("token")) {
           alert("이미 로그인이 되어있습니다.")
           window.location.replace("/user/main");
        } 
  });
  function sign_in() {
    let id = $("#id").val();
    let password = $("#password").val();
    $.ajax({
      type: "POST",
      url: "/user/auth",
      data: ({ id, password }),
      success: function (response) {
        //서버로부터 받은  token을 브라우저 로컬스토리지로 전달. 
        localStorage.setItem("token", response.token)
        localStorage.setItem("id", id);
        alert("로그인이 완료되었습니다!")
        //alert(response["msg"])
        window.location.replace("/user/main");
      },
      error: function (error) {
       alert(error.responseJSON.errorMessage);
      },
    });
  }
</script>


<body>
  <input type="text" placeholder="아이디" id="id" /> </br>
  <input type="password" placeholder="비밀번호" id="password" /></br>
  <button type="button" onclick="sign_in()">로그인</button>
  <button type="button" onClick="location.href='/user/register'">회원가입</button>
</body>


</body>
</html>