<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>           
        <form action="/api/postadd" enctype="multipart/form-data" method="post">       
            <dl>
                <dt>제목</dt>
            <dd><input type="text" name="title" placeholder="제목 입력"></dd>
                <dt>이미지</dt>
                <dd><input type="file" name="image" id="image" accept="image/*"></dd>
                <textarea name="content" placeholder="내용 입력"></textarea>
                <dt> 
                    <input type="submit" id="uploadbtn" 등록>     
                    <button onclick="window.location.href = '/'" >취소</button>
                </dt>
                
            </dl>  
       </form>         
    
</body>
</html>